# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Pruebas / herramientas
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Entorno
.env
*.log

# Editores
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
